<div class="embed-responsive embed-responsive-16by9 mt-4 mb-4 border border-light">
    
    <iframe class="embed-responsive-item"
        src="https://codepen.io/{{ frameUrl }}"
        allow="encrypted-media" allowtransparency="true" allowfullscreen="true">
    </iframe>
</div>