<div class="text-center">
    <figure class="figure">
        <img src="https://i.giphy.com/media/{{ id }}/giphy.webp" class="figure-img img-fluid rounded g-image g-image--lazy"
            alt="Powered by Giphy.com">
        <figcaption class="figure-caption">Source: <a href="{{ link }}" target="_blank">Giphy</a></figcaption>
    </figure>
</div>