<div class="embed-responsive embed-responsive-16by9 mt-4 mb-4 border border-light">
    
    <iframe class="embed-responsive-item"
        src="{{#if options.secureConnection}}https{{else}}http{{/if}}://{{widgetLink}}"
        allow="encrypted-media" allowfullscreen>
    </iframe>
</div>